/* Menu Management Styles */
:host {
    display: block;
}

.custom-clear-btn {
    position: absolute !important;
    right: 2.2rem !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 2rem !important;
    height: 2rem !important;
    z-index: 10;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-treetable-thead>tr>th {
    text-align: center !important;
}